@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/Poppins.ttf");
}

:root {
    --amt-secondary : #0000000a;
    --amt-primary: #1271858f;
    --background: #f7f7f7;
    --foreground: #3e3e3e;
    --font: "Poppins"
}


html, body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.amt-flex {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.amt-flex-center {
    justify-content: center;
}

.amt-flex-grow>* {
    flex-grow: 1;
}

.amt-flex-align-center {
    align-items: center;
}

.amt-flex-direction-col {
    flex-direction: column;
}

.amt-container {
    width: 80dvw;
}

.amt-base-container {
    width: 100vw;
    height: auto;
}

@media (max-width: 500px){
    .amt-container {
        width: 100dvw;
    }
}

@media (max-width: 367px){
    .result-container {
        font-size: 0.7em;
    }
}